@page "/"

<h1>Hello, world!</h1>

<p>This app tests authentication with Identity Server 4 demo server <a href="https://demo.identityserver.io">(demo.identityserver.io)</a> with a secure endpoint showing randomly generated weather data.</p>
